.idea
staticfiles/
files/
media/
venv/
celerybeat-schedule
__pycache__
.DS_Store
.vagrant/
*.log*
*.pyc
*.sqlite3
*.orig
*.pid
*.rdb
*.tar.gz
*.psql
*.psql.bin
deploy-key
buildproject.py
.coverage
/static/
backups
unittest.xml
.env